@model MovieQueue.Models.Movies

@{
    ViewBag.Title = "Lookup Details";
}

<h2>Lookup Details</h2>

<div style="width:25%;display:inline-block">
    <img style="max-width:100%" src=' @("https://image.tmdb.org/t/p/w300_and_h450_bestv2/" + Model.poster_path) ' />
</div><div style="text-align:left;padding-left:20px;padding-right:20px;vertical-align:top;width:75%;display:inline-block">
    <span style="font-size:2em;">
        <span style="font-weight:bold;">@Html.DisplayFor(model => model.title)</span>
        <span style="color:#888888">(@Html.DisplayFor(model => model.release_date.Year))</span>

    </span>
    <span style="display:block;color:#888888">Runtime:@Html.DisplayFor(model => model.runtime) minutes</span>

    @{
        for (int i = 0; i < 4; i++)
        {
            <span style="font-size:2em;color:steelblue">★</span>
        }
    }

    <br><br>

    @Html.Partial("CreateButton")

    <br><br><br><br>
    <h2 style="font-size:1.4em;font-weight:bold">Overview</h2><br>
    <span style="font-size:1.15em;">@Html.DisplayFor(model => model.description)</span>      
</div>


   

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
